:root {
    --white: #FAFAFA;
    --black: #212121;
    --lightgray: #EEEEEE;
    --medgray: #757575;
    --darkgray: #424242;
    --lightred: #FFEBEE;
    --medred: #F44336;
    --darkred: #C62828;
    --medblue: #005ea6;
    --lightcyan: #84FFFF;
    --cyan: #18FFFF;
    --medgreen: #00E676;
}